{% extends "orders/layout.html" %}
{% load static %}
{% load orders_tags %}

<!-- reference: menu_dict[category][item][size][price] -->

{% block title %}
    Cart - Pinocchio's Pizza & Subs
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

<script id="item-template" type="text/x-handlebars-template">
    {% verbatim %}
    <h5>Item {{item_num}}</h5>
    Category: {{category}}<br>
    Name: {{name}}<br>
    {{#if size }}
        Size: {{size}}<br>
    {{/if}}
    {{#if options }}
        Options: {{options}}<br>
    {{/if}}
    Price: ${{price}}<br>
    <button data-item_id="{{item_num}}" style="background-color: red ;color: white; margin: 5px 10px;" class="deleteitem">Delete Item</button>   
    <br>
    <div>-----------------------------------------------------------------------</div>
    <br>
    {% endverbatim %}
</script>

<script type="text/javascript" src="{% static 'orders/cartscripts.js' %}"></script>

{% endblock %}

{% block content %}
<div style="margin: 0px 28%;">
    <div style="padding: 16%;  background-image: url('/static/pizza_bg_2.jpg');" class="content">
    <h3 style="text-align: center;">Cart</h3><br>
    <div id="cart_items">
    </div>
    <div style="text-align: left;margin-left: 70%; background-color: rgba(66, 71, 66, 0.35);">
    Total: $ <span id="total_field">0.00</span>
    </div>
    <br><br>
    <button class="back" id="back_to_menu">Back to Menu</button>
    <button style="margin-left: 190px;" class="add" id="confirm_order">Place Order</button>
    
</div>
</div>

{% endblock %}