{% extends "orders/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div style = "background-image: url('/static/pizza_bg_1.jpg')" class="content">
        <form style="margin:6% 33%; width: 30%;"class="form-group" action="{% url 'register' %}" method="post" id="regform">
            {% csrf_token %}
            {% if message %}
            <div style="margin:33px 0px; color:red;">*{{ message }}</div>
            {% endif %}
            <h3>Register</h3>
            <input  class="form-control" autocomplete="off" autofocus name="username" maxlength="16" placeholder="Username" type="text"><br>
            <input  class="form-control" autocomplete="off" name="first_name" maxlength="30" placeholder="First Name" type="text"><br>
            <input  class="form-control" autocomplete="off" name="last_name" maxlength="150" placeholder="Last Name" type="text"><br>
            <input  class="form-control" autocomplete="off" name="email" maxlength="150" placeholder="Email" type="text"><br><br>
            <input  class="form-control" name="pass1" placeholder="Password" type="password"><br>
            <input  class="form-control" name="pass2" placeholder="Confirm Password" type="password"><br><br>       
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>

{% endblock %}
